<div *ngFor="let l of data">
  <ion-card *ngIf='l.title=="REFERENCIA DE PAGO APLICADO"' class="payment-cards payment-cards-blue">
    <ion-card-content class="ion-no-padding">
      <ion-item style="--background:#F7F7F7;" lines="none">
        <ion-icon class="icon-card" style="color:#0652AF" slot="start" name="globe"></ion-icon>
        <label>
          <span class="title-card">{{l.title}}</span><br>
          <span class="body-card">{{l.numero}}</span><br>
          <span class="body-card">{{l.subtitle}}</span>
        </label>
        <label slot="end">
          <span class="price-card" style="color:#0652AF">$ {{l.precio}}</span><br>
          <span class="date-card">{{l.fecha}}</span>
        </label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf='l.title=="PAGO DE GARANTÍA"' class="payment-cards payment-cards-yellow">
    <ion-card-content class="ion-no-padding">
      <ion-item style="--background:#F7F7F7;" lines="none">
        <ion-icon class="icon-card" style="color:#DBD460" slot="start" name="globe"></ion-icon>
        <label>
          <span class="title-card">{{l.title}}</span><br>
          <span class="body-card">{{l.numero}}</span><br>
          <span class="body-card">{{l.subtitle}}</span>
        </label>
        <label slot="end">
          <span class="price-card" style="color:#DBD460">$ {{l.precio}}</span><br>
          <span class="date-card">{{l.fecha}}</span>
        </label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf='l.title=="CRÉDITO AUTORIZADO"' class="payment-cards payment-cards-green">
    <ion-card-content class="ion-no-padding">
      <ion-item style="--background:#F7F7F7;" lines="none">
        <ion-icon class="icon-card" style="color:#189746" slot="start" name="globe"></ion-icon>
        <label>
          <span class="title-card">{{l.title}}</span><br>
          <span class="body-card">{{l.numero}}</span><br>
          <span class="body-card">{{l.subtitle}}</span>
        </label>
        <label slot="end">
          <span class="price-card" style="color:#189746">$ {{l.precio}}</span><br>
          <span class="date-card">{{l.fecha}}</span>
        </label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>
