<ion-header class="background ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="position: absolute; color:white" defaultHref="Login"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-label class="center-label">
            <ion-title style="color:white" text-capitalize>{{titulo}}</ion-title>
          </ion-label>
          
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>