<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-card  class="ion-card ion-card-myaccounts"  color="sectionbutton">
        <ion-card-header class="ion-text-center ion-padding">
          <ion-icon  class="ion-icon-myaccounts"  name="card-outline"></ion-icon>
        </ion-card-header>
        <ion-card-content class="ion-text-center text-size no-padding">
          Mis Cuentas
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="col-separation"></ion-col>
    <ion-col>
      <ion-card class="ion-card ion-card-qr" color="sectionbutton">
        <ion-card-header class="ion-text-center ion-padding">
          <ion-icon class="ion-icon-qr" name="qr-code-sharp"></ion-icon>
        </ion-card-header>
        <ion-card-content  class="ion-text-center text-size text-qr no-padding">
          Código de Barras y QR
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
 
 <!-- <section>
    <ion-card class="button-card" mode="ios" color="sectionbutton">
      <ion-card-header class="ion-text-center ion-padding center-icon">
        <ion-icon  class="font-size-icon" name="card-outline"></ion-icon>
      </ion-card-header>
      <ion-card-content class="ion-text-center size no-padding">
        Mis Cuentas
      </ion-card-content>
    </ion-card>
  </section>
  <section><ion-item  lines="none" class="ion-margin separation"></ion-item></section>
  <section>
    <ion-card class="button-card" mode="ios" color="sectionbutton">
      <ion-card-header class="ion-text-center ion-padding center-icon-qr">
        <ion-icon class="font-size-icon" name="qr-code-sharp"></ion-icon>
      </ion-card-header>
      <ion-card-content  class="ion-text-center size-qr no-padding">
        Código de Barras y QR
      </ion-card-content>
    </ion-card>
  </section>-->
