<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header id="imagen" class="ion-no-border ion-padding">
      <ion-toolbar class="ion-padding"  id="color-background">
        <ion-avatar>
          <img src="/assets/img/avatar/stan-lee.jpg">
        </ion-avatar>
      </ion-toolbar>
    
        <ion-label  color="textcard" class="ion-padding"><strong>ANDRES ROBLES LOPEZ</strong></ion-label>

    </ion-header>
    <ion-content>
      <ion-list lines="none" class="ion-no-padding">
        <ion-item no-lines>
          <ion-icon class="ion-padding" name="home-outline"></ion-icon>
          Inicio
        </ion-item>
        <ion-item>
          <ion-icon class="ion-padding" class="ion-padding" name="card-outline"></ion-icon>
          Mis Cuentas
        </ion-item>
        <ion-item>
          <ion-icon class="ion-padding" name="thumbs-up-outline"></ion-icon>
          Solicitar un Prestamo
        </ion-item>
        <ion-item>
          <ion-icon class="ion-padding" name="qr-code-outline"></ion-icon>
          Codigo de barras y QR
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer class="ion-no-border ion-padding">
      <ion-item lines="none">
        <ion-icon name="enter-outline"></ion-icon>
        <ion-label>
          Cerrar sesion
        </ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
