.icono-centrado{
    padding-top: 14px;;
}

.btn-selfie{
    position:absolute;
    left: 60px;
    top: 60px;
}

.error-message {
    color: var(--ion-color-danger);
}

#img-selfie{
    width: 80px;
    height: 80px;
    margin-left: 12px;
    margin-top: 10px;
}
ion-content.background{
    //--ion-background-color:#AF5921;
    --background: url('../../../assets/img/bg-app.png') 0 0/100% 100% no-repeat;
}

ion-card.background{
    --background: rgba(255,0,0,0);
}

ion-list.background{
    --ion-item-background: rgba(255,0,0,0);
}