.icono-centrado{
    padding-top: 14px;;
}

.btn-selfie{
    position:absolute;
    left: 60px;
    top: 60px;
}

.error-message {
    color: var(--ion-color-danger);
}

#img-selfie{
    width: 80px;
    height: 80px;
    margin-left: 12px;
    margin-top: 10px;
}