.btn-selfie{
    position:absolute;
    left: 60px;
    top: 60px;
}

#img-selfie{
    width: 62px;
    height: 66px;
    margin-left: 19%;
    margin-top: 15%;
    --border-radius: 0px;
}

.positionAvata{
    height: 100px;
    width: 100px; 
    background-color: white; 
    margin-top: 0px;
}