.card-info{
    //--background: #043C80;
    --background: url('/assets/img/cards/Tarjeta01_1.svg');
    --color:white;
    --min-height:50px;
    margin-bottom: 6%;
    width: 100%;
}

.pagination{
    --bullet-background: #7D7D7D;
    --bullet-background-active:#7D7D7D;
}

.font-ligh{
    font-weight:lighter;
    font-size: 10px;
    padding: 0;
}

.number-count{
    font-size: 17px;
}

.payment-cards{
    border-left: 8px solid;
    --background:#F7F7F7;
    height: 80px;
    display: grid;
    align-items: center;
}
.icon-card{
    margin-right: 2%;
    height: 33px;
    width: 33px;
}

/*@media(max-width: 1024px){
    .card-info{
        --min-height:150px;
    }
    .font-ligh{
        font-size: 16px;
    }
    .number-count{
        font-size: 22px;
    }
    .data-count{
        font-size: 21px;
    }
}*/