<app-header [titulo]="'MOVEMENTS' | translate"></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides style="margin-bottom:5%;" class="pagination" pager="true" #slides (ionSlideDidChange)="loanChanged()">
    <ion-slide>
      <ion-item class="card-info ion-no-padding" lines="none">
        <ion-grid class="number-count">
          <ion-row>
            <ion-col class="center-label">
              000000123456
            </ion-col>
          </ion-row>
        
          <ion-row class="font-ligh">
            <ion-col class="center-label" size="6">
              <span>SALDO TOTAL</span>
            </ion-col>
            <ion-col class="center-label" size="6">
              <span>PRÓXIMO PAGO</span>
            </ion-col>
          </ion-row>
    
          <ion-row class="data-count">
            <ion-col class="center-label" size="6">
              14,635.00
            </ion-col>
            <ion-col class="center-label" size="6">
              1,635.00
            </ion-col>
          </ion-row>
    
          <ion-row class="number-count">
            <ion-col class="center-label">
              <span>FECHA LÍMITE PAGO JUEVEZ, 13/10/2020</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

  <app-payment-cards [data]="arrayMovements"></app-payment-cards>
  <div *ngIf="!arrayMovements">
    <ion-card *ngFor="let i of [1,2,3,4,5]" class="payment-cards">
      <ion-card-content class="ion-no-padding">
        <ion-item style="--background:#F7F7F7;" lines="none">
          <ion-icon class="icon-card" slot="start" name="globe"></ion-icon>
          <ion-label>
            <span>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </span>
            <span>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </span>
            <span>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </span>
          </ion-label>
          <ion-label slot="end">
            <span>
              <ion-skeleton-text animated style="width: 100%; height: 24px;"></ion-skeleton-text>
            </span>
            <span>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </span>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>