<div *ngIf="form.dirty || form.touched">
  <ng-container *ngIf="form.errors && form.errors['required']"><small class="error-message">{{ 'REQUIRED' | translate }}</small></ng-container>
  <ng-container *ngIf="form.errors && form.errors['notEquivalent']"><small class="error-message">{{ 'PASSWORDMATCH' | translate }}</small></ng-container>
  <ng-container *ngIf="form.errors && form.errors['pattern'] && fieldName=='email'"><small class="error-message">{{ 'INVALIDEMAIL' | translate }}</small></ng-container>
  <ng-container *ngIf="form.errors && form.errors['pattern'] && fieldName=='nClient'"><small class="error-message">{{ 'INVALIDACCOUNT' | translate }}</small></ng-container>
  <ng-container *ngIf="form.errors && form.errors['pattern'] && fieldName=='password'"><small class="error-message">{{ 'INVALIDPASSWORD' | translate }}</small></ng-container>
  <ng-container *ngIf="form.errors && form.errors['pattern'] && fieldName=='phone'"><small class="error-message">{{ 'INVALIDPHONE' | translate }}</small></ng-container>
  <ng-container *ngIf="form.errors && form.errors['pattern'] && fieldName=='curp'"><small class="error-message">{{ 'INVALIDCURP' | translate }}</small></ng-container>
</div>