/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts */
@import "assets/font/roboto/roboto.css";

ion-label {
    --ion-default-font: "roboto";
    font-size: 15px !important;
    color:white;
}

ion-label.form {
    padding-bottom: 0;
}

.input-item{
    margin-top: 2%;
    --ion-border-color: white;
    color:white;
}

ion-item.item-has-focus > ion-label{
    color:  #B1C800  !important;
}

ion-content.background{
    --background: url('assets/img/bg-app.png') 0 0/100% 100% no-repeat;
}

ion-card.background{
    --background: rgba(255,0,0,0);
}

ion-list.background{
    --ion-item-background: rgba(255,0,0,0);
}

.btn-round{
    --border-radius: 20px;
    margin-bottom: 15px;
}

.icono-centrado{
    padding-top: 14px;
    color:white;
}

.margin-card{
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 5%;
    padding-left: 5%;
}

.center-label{
    display: flex;
    justify-content: center;
}

.btn-success{
    --background: #B1C800;
    --color: white;
}

.btn-error{
    --background: #EB3E41;
    --color: white;
}

.btn-info{
    --background: #00A8AE;
    --color: white;
}

.btn-white{
    --background: white;
    --color: black;
}

.alert-input.sc-ion-alert-md{
    border-color:  #B1C800 !important;
    text-align: center;
    font-size: 15px;
}

.alertcss{ 
    --max-width: 90%;
}

.alert-message.sc-ion-alert-md{
    color:#0552AF;
}

.alert-sub-title.sc-ion-alert-md{
    color:#0A4388;
    text-align: center;
}

.alert-title.sc-ion-alert-md{
    color:#043C80;
    text-align: center;
}

/* css de los btn de las alertas */
.btn-alert{
    border-radius: 20px !important;
    text-align: center !important;
    margin-bottom: 10px!important;
}
.btn-success-alert{
    background-color: #B1C800 !important;
    color: white !important;

}
.btn-success-cancelar{
    background-color: #F2F2F2 !important;
    color: black !important;
}
.btn-success-resend{
    background-color: white !important;
    color: black !important;
    border: 1px solid #7D7D7D!important;
}

.alert-button-inner{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center!important;  
}